@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .shadow-right {
    box-shadow: 5px 0 10px -5px rgba(0, 0, 0, 0.1), 2px 0 4px -1px rgba(0, 0, 0, 0.05);
  }
}

body {
  height: 100vh;
  display: flex;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type=number] {
  -moz-appearance: textfield;
}